* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.flx {
  display: flex;
}

.container {
  max-width: 800px;
  margin: auto;
  font-family: 'Arial';
}

header {
  justify-content: space-between;
  align-items: center;
}

main{
  text-align: center;
}

.comic-baloon{
  min-width: 600px;
  padding: 30px;
  font-family: 'Comic Neue';
  font-size: 40px;
  border: 2px solid #000;
  border-radius: 20px;
}

.numbers-list{
  margin-top: 40px;
  justify-content: center;
}

.number, .input-num, .submit{
  background-color: #000;
  color: #FFF;
}

.number {
  width: 100px;
  height: 100px;
  font-size: 3em;
  justify-content: center;
  align-items: center;
  margin: 20px;
  padding: 15px;
  border-radius: 50%;
}

.input-num, .input-num:focus, .submit, .submit:focus {
  border: 0;
  outline: none;
}

.input-num {
  min-width: 1.2em;
  font-size: 1em;
}

.submit{
  padding: 15px;
  font-size: 24px;
  border-radius: 15px;
  cursor: pointer;
}

#timer{
  margin: 50px 0;
  font-size: 5em;
}
